{% comment %}

    Taken from https://github.com/learn-static/lesson-template/blob/main/_includes/question.html

    Question feature.
    This include creates a card containing a question text, with an solution hidden until user clicks the "view solution" button.

    e.g. --> {% include question.html header="Example Title" text="A question to figure out?" solution="The answer." %}
    
    Options:
    - "header" = card header text (in bar above card content)
    - "text" = main card text, can use markdown formatting. Use a Liquid capture to add more complex content.
    - "solution" = displayed in the collapse

{%- endcomment -%}
<div class="card border">
    {% if include.header %}<div class="card-header h4 mt-0">{{ include.header }}</div>{% endif %}
    <div class="card-body">
        <div class="card-text">
            {{ include.text | markdownify }}
        </div>
        {% if include.solution %}
        <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ include.header | default: 'Solution' | slugify }}" aria-expanded="false" aria-controls="collapseExample">
            View Solution
        </button>
        <div class="collapse pt-3" id="collapse{{ include.header | default: 'Solution' | slugify }}">
            {{ include.solution | markdownify }}
        </div>{% endif %}
    </div>
</div>
