<div class="sidebar sticky-top">   
    {% comment %}     
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {--% include newsletter.html %}
    </div>
    {% endcomment %}

    <div class="sidebar-section">
        <h5><span>Our Sponsors</span></h5>
        <a href="https://www.janestreet.com"><img src="{{site.baseurl}}/assets/images/sponsors/janestreet.png"></a>
        <a href="https://www.comp-soc.com"><img src="{{site.baseurl}}/assets/images/sponsors/compsoc.png"></a>
    </div>
</div>
