<div class="sidebar sticky-top">   
    {% comment %}     
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {--% include newsletter.html %}
    </div>
    {% endcomment %}

    <div class="sidebar-section">
        <h5><span>Our Sponsors</span></h5>
        <div class="mt-3"><a href="https://www.janestreet.com"><img src="{{site.baseurl}}/assets/images/sponsors/janestreet.png"></a></div>
        <div class="mt-3"><a href="https://www.comp-soc.com"  ><img src="{{site.baseurl}}/assets/images/sponsors/compsoc.png"></a></div>
        <div class="mt-3"><a href="https://zulip.com"><img src="{{site.baseurl}}/assets/images/sponsors/zulip-org-logo.svg"></a></div>
    </div>
</div>
